compile_commands.json
build
build-*

.vscode
.cquery_cache
*.code-workspace

CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
examples/CMakeFiles/
examples/Makefile
examples/cmake_install.cmake
examples/hnterm/CMakeFiles/
examples/hnterm/Makefile
examples/hnterm/cmake_install.cmake
examples/libimtui-examples-common.dylib
examples/ncurses0/CMakeFiles/
examples/ncurses0/Makefile
examples/ncurses0/cmake_install.cmake
imgui.ini
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libimtui-core.dylib
src/libimtui-ncurses.dylib
third-party/CMakeFiles/
third-party/Makefile
third-party/cmake_install.cmake
third-party/libimgui.dylib